button {
  float: right;
}

.equipment {
  border: #00a1de 1px solid;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 5px;
  border-radius: 5px;
}

.select:hover {
  cursor: pointer;
}
