<div class="col-md-6 mt-5 mx-auto">
    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
        <div class="form-group">
            <label for="newPasswordInput">New Password</label>
            <input
                type="password"
                id="newPasswordInput"
                class="form-control"
                placeholder="New Password"
                autocomplete="off"
                aria-describedby="emailHelp"
                [(ngModel)]="resetPasswordForm.value.newPassword"
                (keypress)="onKeyPress()"
                name="newPassword"
                pattern="^(?=.*[A-Z]|[a-z]|[~`!@#$%^&*()_\-+={\[}\]:;',<.>/?\\|])(?=.*\d)(?!.*\s).{8,}$"
                required>
            <small id="passwordHelp" class="form-text text-muted">Passwords should consist of a minimum of 1 capital letter,
            1 small letter, 1 special character, 1 number, should not contain any spaces, and should have a minimum length
            of 8 characters.</small>
        </div>
        <div class="form-group">
            <label for="confirmPasswordInput">Confirm Password</label>
            <input
                type="password"
                id="confirmPasswordInput"
                class="form-control mb-2"
                placeholder="Confirm Password"
                autocomplete="off"
                [(ngModel)]="resetPasswordForm.value.confirmedPassword"
                (keypress)="onKeyPress()"
                name="confirmedPassword"
                pattern="^(?=.*[A-Z]|[a-z]|[~`!@#$%^&*()_\-+={\[}\]:;',<.>/?\\|])(?=.*\d)(?!.*\s).{8,}$"
                required>
            <div class="passwordResetFeedback invisible" #feedbackMessageComponent>{{ feedbackMessage }}</div>
        </div>
        <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!resetPasswordForm.form.valid">Reset Password</button>
    </form>
</div>
